Membuat List Python

In [12]:
#Contoh sederhana pembuatan list pada bahasa pemrograman python
list1= ['kimia', 'fisika', 1993, 2017]
list2= [1, 2, 3, 4, 5]
list3= ["a", "b", "c", "d"]

print('List 1:', list1)
print('List 2:', list2)
print('List 3:', list3)

List 1: ['kimia', 'fisika', 1993, 2017]
List 2: [1, 2, 3, 4, 5]
List 3: ['a', 'b', 'c', 'd']

Akses Nilai Dalam List Python

In [13]:
#Cara mengakses nilai di dalam list Python

list1 = ['fisika', 'kimia', 1993, 2017]
list2 = [1, 2, 3, 4, 5, 6, 7]

print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  fisika
list2[1:5]:  [2, 3, 4, 5]

Update Nilai Dalam Python

In [18]:
list = ['fisika', 'kimia', 1993, 2017]
print ("Nilai ada pada index 2:", list[2])

list[2] = 2001
print ("Nilai baru ada pada index 2:", list[2])

Nilai ada pada index 2: 1993
Nilai baru ada pada index 2: 2001

Hapus Nilai Dalam List Python

In [19]:
#contoh cara menghapus nilai
list = ['fisika', 'kimia', 1993, 2017]
print(list)
del list[2]
print("setelah dihapus nilai pada index 2:", list)

['fisika', 'kimia', 1993, 2017]
setelah dihapus nilai pada index 2: ['fisika', 'kimia', 2017]

Slicing pada List Python

In [21]:
L= ['C++', 'Java', 'Python']

print('Indeks ke-2:', L[2])
print('Indeks ke-2 dari belakang:', L[-2])
print('Indeks ke 1 dan 2 :', L[1:])

Indeks ke-2: Python
Indeks ke-2 dari belakang: Java
Indeks ke 1 dan 2 : ['Java', 'Python']

Set

In [23]:
#mengakses item dalam set
a = ("Rokok", "Korek", "Asbak")
print("Rokok" in a)

True

In [37]:
#menghapus item dalam set
a = {"Rokok", "Korek", "Asbak"}
a.remove("Korek")
print(a)

{'Rokok', 'Asbak'}

Dictionary

In [40]:
#contoh dictionary yang diisi item dengan berbagai jenis tipe data
x = {"nama": "Budi", "umur": 50, "tinggi_badan": 155.5}
print(x)

{'nama': 'Budi', 'umur': 50, 'tinggi_badan': 155.5}

In [41]:
#mengakses value dari dictonary
menteri={"nama": "Budi", "umur": 50}
print(menteri["umur"])

50

In [45]:
#contoh membuat dictonary pada python
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

Update Nilai Dalam Dictonary Python

In [48]:
#mengubah item
dict={'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; #Mengubah entri yang sudah ada
dict['School'] = "DPS School" #Menambah entri baru

print("dict['Age']: ", dict['Age'])
print("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

In [50]:
menteri = {"nama": "Budi", "umur": 58}
menteri["nama"] = "Adi"
print(menteri)

{'nama': 'Adi', 'umur': 58}

In [52]:
#menambah item
menteri= {"nama": "Budi", "umur": 50}
menteri[ "kementerian"] = "Setneg"
print(menteri)

{'nama': 'Budi', 'umur': 50, 'kementerian': 'Setneg'}

In [53]:
#menghapus item
menteri = {"nama": "Budi", "umur": 50, "kementerian": "Setneg"}
print(menteri.pop("kementerian"))

Setneg

In [58]:
dict={'Name': 'Zara', 'Age': 7, 'Class': 'First'}

del dict['Name'] # hapus entri dengan key 'Name'
dict.clear() #hapus semua entri di dict
del dict #hapus dictionary yang sudah ada

print("dict['Age']: ", dict['Age'])
print("dict[ 'School']: ", dict['School'])

dict['Age']:  dict['Age']
dict[ 'School']:  dict['School']